<!DOCTYPE html>
<html>
    <head>
        {% set recipientVar = 'OJ! Email' %}
        {% include 'components/head2.twig' %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Emails</title>
    </head>

    <body>
        <div class="ui grey fixed inverted menu">
            {% include 'components/menu.twig' %}
        </div>
        {% if flash.info %}
            <div class="ui warning message">
                {{ flash.info }}
            </div>
        {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
